.containerAntiScroll {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

.container main {
    margin: 0 auto;
    width: 70%;
    max-width: 45rem;
}


@media(max-width: 850px) {
    .container main {
        width: 80%;
    }
}

@media(max-width: 400px) {
    .container main {
        width: 85%;
    }
}