/* Este es super importante para dejar sin barra el body cuando abrimos el modal */

.containerAntiScroll {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

.container main {
    margin: 0 auto;
}