* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Styles colors of the challenge */

  /* Primary */
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);

  /* Neutral */
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);

  --text-white: #fff;
}

html {
  font-size: 100%;
}


/* Es fundamental que los media queries se posicionen de mayor a menor para que funcionen */


@media(max-width: 1024px) {
  html {
    font-size: 87.5%;
  }
}

@media(max-width: 320px) {
  html {
    font-size: 75%;
  }
}


/* ======= TABLET MEDIA QUERIES: 768 px  ======= */
/* @media(max-width: 768px) {
  html {
      font-size: 75%;
  }
} */

body {
  background: var(--background);
  color: var(--text);
}

body, input, textarea, button {
  font: 400 1rem "Commissioner", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit; /* Con el valor inherit básicamente heredados el valor de la misma propiedad del elemento padre*/
  text-decoration: none;
}